<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Examen.My.MySettings.Tienda_ExamenConnectionString"
            connectionString="Data Source=DESKTOP-4AAROTR;Initial Catalog=&quot;Tienda Examen&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>